<form action="/<%= @file_name %>" method="post">
  <label for="content">Edit content <%= @file_name %></label>
  <div>
    <textarea name="content" id="content" rows="20" cols="80"><%= @file_content %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>