<form action="/new" method="post">
  <label for="new_doc">Add a new document:</label>
  <div>
    <input type="text" id="new_doc" name="new_doc">
    <button class="create" type="submit">Create</button>
  </div>
</form>